<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<Link type= "text/css" rel="stylesheet" href ="../static/css/home.css">
	<script type="text/javascript" rel="script" src="../static/js/jquery.js"></script>
	<script type="text/javascript" rel="script" src="../static/js/tank.js"></script>

</head>
<body onload="">

	<div class = "startBG">
		
		<div class = "start">
			<div class = "startButton">
				<p>开始游戏</p>
			</div>
			<div class = "designButton">
				<p>自定义游戏</p>
			</div>
		</div>

	</div>

	<div class = "restartBG">
		<div class = "restart">
			<div class = "restartButton">
				<p>重新开始</p>
			</div>
			<div class = "backButton">
				<p>返回</p>
			</div>
		</div>
	</div>

	<div class="content" >
		<div class="designMap">
			<div class="wallBlockBG">
				<div class="wallBlock"></div>
			</div>
			<div class="steelBlockBG">
				<div class="steelBlock"></div>
			</div>
			<div class="reset">
				<p>重置</p>
			</div>
			<div class="designEndAndStart">
				<p>开始游戏</p>
			</div>
		</div>
		<canvas   id="main" width="650" height="650">
			
		</canvas>

	</div>
</body>
</html>